footer.footer
  .footer__wrapper
    .footer__content
      .footer__primary
        .footer__logo
          include ../../assets/images/logo/compact.svg
      .footer__secondary
        p.footer__credits
          !=footer.info
        p.footer__credits
          !=footer.sub