.subscribe
  h4.subscribe__title!=callToAction.label
  .subscribe__form
    include _subscribe-form

    small.subscribe__note!=subscribeForm.note
      =" "
      a(href=sampleLink.url)!=`<strong>${sampleLink.label}</strong>`