.footer {
  background-color: brand-color('primary');
  color: neutral-color('highest');
  padding: $space-small $h-unit $space-medium;

  &__wrapper {
    @include responsive-wrapper($layout-wrapper-sizes);
    margin: 0 auto;
  }

  &__content {
    text-align: center;
  }

  &__primary,
  &__secondary {
    margin-top: $space-small;
  }

  &__logo {
    display: inline-block;
    line-height: 0;
    max-width: rem-calc(160);

    svg {
      display: block;
      width: 100%;
    }
  }

  &__credits {
    margin: 0;
  }
}
