.layout {
  background-color: brand-color('primary');
  color: neutral-color('highest');
  font-family: $base-font-family;
  font-size: 16px;
  padding-top: ($space-base / 2);
  text-rendering: optimizeLegibility;

  &__page {
    background-color: neutral-color('lowest');
  }

  // &__footer {}
}
