.layout {
  background-color: neutral-color('highest');
  color: neutral-color('highest');
  font-family: $secondary-font;
  font-size: 16px;
  text-rendering: optimizeLegibility;

  &__loader {
    @extend %loader-container;
  }

  &.is-loading &__loader {
    display: flex;
  }

  // &__footer {}
}
