.subscribe {

  &__content {
    margin: 0 auto;

    @include media-query('medium') {
      @include grid-space('width', 10);
    }

    @include media-query('huge') {
      width: 100%;
    }
  }

  &__title {
    @include get-type('h3');
    max-width: rem-calc(500);
    margin: 0 auto;
    text-align: center;

    @include media-query('huge') {
      max-width: rem-calc(700);
    }
  }

  &__resources-box {
    margin-top: $space-large;
    border-top: 1px solid rgba(neutral-color('medium'), 0.4);
    padding-top: rem-calc(10);
  }

  &__resources {
    @include grid-row(false);
    align-items: center;
  }

  &__resource {
    @include grid-column((xxsmall: 12, medium: 4), true);
    position: relative;
  }

  &__form {
    margin-top: $space-medium;
  }

  &__note {
    color: neutral-color('medium');
    display: block;
    margin-top: $space-small;
    text-align: center;

    a {
      color: brand-color('primary');
      text-decoration: underline;
    }
  }
}
