.subscribe {

  &__content {
    margin: 0 auto;

    @include media-query('medium') {
      @include grid-space('max-width', 8);
    }
  }

  &__title {
    @include get-type('h2');
    margin: 0;
  }

  &__resources {
    margin-top: $space-medium;
  }

  &__resource {
    position: relative;
    margin-top: $space-base;

    &:first-child {
      margin-top: 0;
    }
  }

  &__form {
    margin-top: $space-medium;
  }

  &__note {
    color: neutral-color('medium');
    display: block;
    margin-top: $space-small;

    a {
      color: brand-color('primary');
      text-decoration: underline;
    }
  }
}
