mixin faq(faq, i)
  .faq
    input.faq__hidden-input.u-visually-hidden(type="checkbox" id=`faq-${i}`)
    h4.faq__title
      span.faq__count
        span.faq__count-box=i + 1
      label.faq__label(for=`faq-${i}`)!=faq.title
    p.faq__description!=faq.description