extends _layout

block page
  .page-index

    section.page-index__main

      .page-index__header
        include partials/_header

      +separator('email')

      .page-index__subscribe
        include partials/_subscribe

    section.page-index__faq
      +faqs({title: faq.title, entries: faq.entries})

