extends _layout

block page
  .page-index

    #header-ref.page-index__header
      .page-index__header-content
        include layouts/_header

    section#main-ref.page-index__main


      //- particles
      - var n = 0;
      while n < 20
        .particle(id=`particle${n}`)
        - n++

      .page-index__main-content
        include layouts/_subscribe

    section.page-index__faq
      .page-index__faq-content
        +faqs({title: faq.title, entries: faq.entries})

    section.page-index__founders
      .page-index__founders-content
        +founders(founders)


