extends _layout

block page
  .page-index

    .page-index__header
      .page-index__header-content
        include layouts/_header

    section.page-index__main
      .page-index__main-content
        include layouts/_subscribe

    section.page-index__faq
      .page-index__faq-content
        +faqs({title: faq.title, entries: faq.entries})

    section.page-index__founders
      .page-index__founders-content
        +founders(founders)


