extends _layout

block page
  .page-index

    #header-ref.page-index__header
      .page-index__header-content
        +header(Object.assign({}, {subHeadline}, {subscribeForm}))

    section#main-ref.page-index__main

      //- particles
      - var n = 0;
      while n < 30
        .particle(id=`particle${n}`)
        - n++

      .page-index__main-content
        include layouts/_subscribe

    section#sponsors.page-index__sponsors
      .page-index__sponsors-content
        +sponsors(sponsors)

    section#support.page-index__support
      .page-index__support-content
        +support(Object.assign({}, support, {shareTitle: subHeadline}))

    section#faq.page-index__faq
      .page-index__faq-content
        +faqs(faq)

    section.page-index__founders
      .page-index__founders-content
        +founders(founders)


