.categories {

  &__list {
    @include grid-row(false);
    justify-content: center;
  }

  &__item {
    @include grid-column(0, true);
    padding: ($v-unit / 2) 0;
    // background-color: darken(primary-color('brand'), 3%);
  }

  &__name {
    margin: 0;
    line-height: 1;

    &::after {
      content: '/';
      margin: 0 ($h-unit / 2);
      color: darken(brand-color('primary'), 10%);
    }
  }

  &__item:last-child &__name {
    &::after {
      display: none;
    }
  }
}