.header {
  padding: $space-medium 0 $space-base;
  text-align: center;

  @include media-query('medium') {
    padding: $space-large 0 $space-medium;
  }

  &__logo {
    margin: 0 auto;
    max-width: rem-calc(50);

    @include media-query('medium') {
      max-width: rem-calc(65);
    }
  }

  &__headline {
    font-weight: 900;
    line-height: 1;

    strong {
      color: brand-color('primary');
    }
  }

  &__subheadline {
    margin: $space-medium auto 0;
    max-width: rem-calc(500);
  }
}
