.faqs {

  &__title {
    @extend %title-section;
    margin: 0;
  }

  &__list {
    margin-top: $space-small;

    column-gap: $column-gutter;

    @include media-query('medium') {
      column-count: 2;
    }
  }

  &__item {
    display: inline-block;
    margin-bottom: $space-small;
    width: 100%;
  }
}
