.faqs {

  &__content {
    @include responsive-wrapper($layout-wrapper-sizes);
    margin: 0 auto;
  }

  // &__frame {}

  &__list {
    column-gap: $column-gutter;

    @include media-query('medium') {
      column-count: 2;
    }
  }

  &__item {
    display: inline-block;
    margin-bottom: $space-base;
    width: 100%;

    @include media-query('medium') {
      margin-bottom: $space-small;
    }
  }
}
