.separator {
  border-top: 1px dashed neutral-color('highest');
  height: 0;
  margin: $space-small auto 0;
  max-width: rem-calc(360);
  padding-bottom: $space-small;
  text-align: center;

  &__icon {
    background-color: neutral-color('lowest');
    font-size: rem-calc(35);
    display: inline-block;
    padding: rem-calc(0 5);
    transform: translateY(-50%);
  }
}
