.subscribe-form {
  border-radius: 5px;
  overflow: hidden;

  &__content {
    @include grid-row(false);

    @include media-query('medium') {
      height: rem-calc(60);
    }
  }

  &__input-field {
    @include grid-column(9, true);
  }

  &__submit-field {
    @include grid-column(3, true);
  }

  &__input {
  }

  &__submit {
  }

  &__input,
  &__submit {
    @include media-query('medium') {
      height: 100% !important;
    }
  }

  &__submit-icon {
    font-size: 180%;

    @include media-query('medium') {
      display: none;
      font-size: 140%;
    }
  }

  &__submit-label {
    display: none;

    @include media-query('medium') {
      display: block;
      margin-left: rem-calc(10);
    }
  }
}