@import 'main';

// Scss file created exclusively to style the docs page.
// It will not be imported in the final dist

html,
body {
  height: 100%;
}

//------------
// DOCS LAYOUT
//------------
.docs-layout {
  background-color: lighten(neutral-color('lower'), 12%);
  color: neutral-color('highest');
  font-size: $rem-base;
  min-height: 100vh;

  &__content {
    @include grid-row(false);
    max-width: rem-calc(1400);

    @include media-query('large') {
      min-height: 100%;
    }
  }

  &__nav {
    @include grid-column(('xxsmall': 12, 'large': 0), true);
    border-right: 1px solid neutral-color('lower');

    @include media-query('large') {
      width: rem-calc(250);
    }

    @include media-query('huge') {
      width: rem-calc(350);
    }
  }

  &__page-wrapper {
    @include grid-column(('xxsmall': 12, 'large': auto));
    background-color: neutral-color('lowest');
    padding-bottom: $space-small;

    @include media-query('large') {
      padding: $space-medium $space-medium $space-large;
    }
  }

  &__page {
    margin: 0 auto;
    max-width: rem-calc(1200);
    width: 100%;
  }
}

//----------
// DOCS LOGO
//----------
.docs-logo {
  background-color: neutral-color('lowest');
  padding: $space-small;

  &__image {
    color: brand-color('primary');
    margin: 0 auto;
    max-width: rem-calc(200);
    width: 100%;
  }
}

//---------
// DOCS NAV
//---------
.docs-nav {
  padding: ($v-unit * 2) 0;

  // &__list {}

  // &__item {}

  &__items {
    padding: $v-unit 0;
  }

  &__section-title {
    border-bottom: 1px dotted rgba(neutral-color('medium'), 0.5);
    margin: 0;
    padding: $v-unit $h-unit;
  }

  &__link {
    @include get-type('h6');
    border-bottom: 0;
    color: neutral-color('medium');
    display: block;
    font-weight: normal;
    margin: 0;
    padding: ($v-unit / 2) $h-unit;
    text-transform: uppercase;
  }
}

//-------------
// DOCS SECTION
//-------------
.docs-section {

  @include media-query('medium') {
    padding-top: $space-medium;
  }

  &__title {
    font-weight: bold;
    margin: 0;
    padding-top: $space-small;
  }

  &__description {
    @include get-type('h4');
    color: neutral-color('higher');
    margin-top: $space-small;
  }
}

//-----------
// DOCS BLOCK
//-----------
.docs-block {

  &__title {
    @include get-type('h4');
    color: neutral-color('medium');
    margin-bottom: 0;
    text-transform: capitalize;
  }

  &__description {
    margin-top: $space-base;
  }

  &__content {
    margin-top: $space-small;
  }

  &__preview {
    border: 1px solid neutral-color('lower');
    margin-top: $space-small;
    padding: ($space-base / 2);

    @include media-query('medium') {
      padding: $space-small;
    }
  }
}

//--------------
// HEADINGS GRID
//--------------
.headings-grid {

  // &__list {}

  &__item {
    border-bottom: 1px solid neutral-color('lower');
    padding: $space-base 0;

    &:last-child {
      border-bottom: 0;
    }

    * {
      margin: 0;
    }
  }

  &__type {
    &::before {
      content: '<';
    }

    &::after {
      content: '/>';
    }
  }

  &__family {
    margin-top: ($space-base / 2);
  }

  &__sizes {
    background-color: neutral-color('lower');
    color: neutral-color('higher');
    display: inline-flex;
    margin-top: $space-base;
    padding: rem-calc(2 6);
  }

  &__size {
    margin-right: ($space-base / 2);
    text-transform: capitalize;

    &:last-child {
      margin-right: 0;
    }
  }
}

//----------
// LOGO GRID
//----------
.logo-grid {
  border: 1px solid neutral-color('lower');
  padding-bottom: $space-base;

  &__list {
    @include grid-row();
  }

  &__item-small {
    @include grid-column((xxsmall: 12, medium: 4));
  }

  &__item-medium {
    @include grid-column((xxsmall: 12, medium: 6));
  }
}

//---------
// LOGO BOX
//---------
.logo-box {
  align-items: center;
  display: flex;
  height: 100%;
  padding: $space-small $space-small ($space-small * 2);
  position: relative;

  &__picture {
    margin: 0 auto;
    width: 100%;
  }

  &__name {
    align-items: center;
    bottom: 0;
    color: neutral-color('medium');
    display: flex;
    height: $space-medium;
    justify-content: center;
    left: 0;
    line-height: 1;
    margin: 0;
    padding: 0 ($space-small / 2);
    position: absolute;
    right: 0;
  }

  &--brand-text-color {
    color: brand-color('primary');
  }

  &--brand-background-color {
    background-color: brand-color('primary');
  }

  &--highest-background-color {
    background-color: neutral-color('highest');
  }

  &--brand-background-color,
  &--highest-background-color {
    border-color: transparent;
  }

  &--brand-background-color &__name {
    color: neutral-color('highest');
  }

  &--highest-background-color &__name {
    color: neutral-color('lowest');
  }

  &--compact &__picture {
    max-width: rem-calc(260);
  }

  &--square &__picture {
    max-width: rem-calc(100);
  }

  &--vertical &__picture {
    max-width: rem-calc(350);
  }

  &--minimal &__picture {
    max-width: rem-calc(70);
  }
}

//-------------
// PALETTE GRID
//-------------
.palette-grid {

  &__list {
    // @include grid-row(false);
  }

  &__item {
    /*
    @include grid-column($width:(xxsmall: 6, small: 0), $collapse:true);

    @include media-query('small') {
      width: rem-calc(220);
    }
    */
  }
}

//-----------
// ICONS GRID
//-----------
.icons-grid {

  &__list {
    @include grid-row(false);
    font-size: 1.5rem;
    max-width: 100%;
    padding: 1px;

    @include media-query('medium') {
      font-size: 2.5rem;
    }
  }

  &--small &__list{
    font-size: 1rem;

    @include media-query('medium') {
      font-size: 1.5rem;
    }
  }

  &__item {
    @include grid-column((xxsmall: 6, xsmall: 3, large: 2), true);
    outline: 1px solid neutral-color('lower');
    text-align: center;
  }

  &__icon {
    background-color: neutral-color('lowest');
    padding: $v-unit $h-unit;
  }

  &__symbol {
    svg:hover {
      background-color: brand-color('primary');
    }
  }

  &__name {
    @include get-type('small');
    color: neutral-color('medium');
    line-height: 1;
    margin-top: rem-calc(4);
  }
}

//----------
// COLOR BOX
//----------
.color-box {
  background-color: neutral-color('lowest');
  box-shadow: 0 0 4px rgba(neutral-color('highest'), .2);

  &__content {
    @include grid-row();
  }

  &__swatch,
  &__info {
    @include grid-column(6);
    justify-content: center;
  }

  &__swatch-color {
    height: 100%;
  }

  &__info {
    padding: ($space-base / 2) 0;
  }

  &__label {
    line-height: 1;
    text-transform: none;
  }

  &__hex {
    @include get-type('small');
    color: neutral-color('medium');
    line-height: 1;
    margin-top: rem-calc(4);
  }
}
