@keyframes pulse_animation {
  0% {
      transform: scale(1);
      opacity: .9;
    }
  50% {
    transform: scale(1.02);
    opacity: 1;
    color: #560a13;
  }
  100% {
    transform: scale(1);
    opacity: .9;
  }
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 1500ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}