%button {
  @include get-type('small');
  font-family: $base-font-family;
  color: neutral-color('highest');
  outline: 0;
  background: brand-color('primary');
  font-weight: 600;
  border: 0;
  padding: ($v-unit / 2) ($h-unit * 1.5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: rem-calc(44);
  line-height: 1;
  border-radius: 0;
  text-transform: uppercase;

  &:hover {
    background: brand-color('dark');
    cursor: pointer;
  }
}

button, .button {
  @extend %button;
}
