input[type='text'],
input[type='email'] {
  appearance: none;
  background-color: neutral-color('lowest');
  display: block;
  font-family: inherit;
  height: rem-calc(46);
  padding: 0 $h-unit;
  border: 2px solid brand-color('primary');
  // border-radius: 3px;
}
