+docs-section({
    title: 'Header'})

  +docs-block({title:'Header normal status', background: 'highest'})
    +header(fixtures.header)

  +docs-block({title: 'Header subscribe form showed', background: 'highest'})
    .is-subscribe-showed
      +header(fixtures.header)