+docs-section({
  title: 'Icons'})

  +docs-block({
    title: 'Preview',
    open: true})
    +icons-grid({icons: icons})

  +docs-block({
    title: 'Small preview',
    open: true})
    +icons-grid({icons: icons, type: 'small'})
