---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import FarewellHero from '../components/FarewellHero.astro';
import WhyWeClosed from '../components/WhyWeClosed.astro';
import ArchiveHighlight from '../components/ArchiveHighlight.astro';
import StayInformed from '../components/StayInformed.astro';
import Sponsors from '../components/Sponsors.astro';
import OpenSource from '../components/OpenSource.astro';
import Founders from '../components/Founders.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Header />
  <main>
    <FarewellHero />
    <WhyWeClosed />
    <ArchiveHighlight />
    <StayInformed />
    <Sponsors />
    <OpenSource />
    <Founders />
  </main>
  <Footer />
</BaseLayout>
