.page-index {

  &__header {
    background: rgba(neutral-color('highest'), .4);
    padding: $space-base $h-unit;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: z('navbar');
    transition-property: background-color, padding;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;

    &.is-fixed {
      background-color: neutral-color('highest');
      box-shadow: rem-calc(0 7 30 -7) rgba(neutral-color('highest'), .8);
    }

    @include media-query('medium') {
      padding: $space-small $h-unit;

      &.is-fixed {
        padding: $space-base $h-unit;
      }
    }

    @include media-query('huge') {
      padding: $space-medium $h-unit;

      &.is-fixed {
        padding: $space-small $h-unit;
      }
    }
  }

  &__main {
    background: neutral-color('highest');
    color: neutral-color('lowest');
    position: relative;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    // justify-content: center;

    // Fixes min-height I.E. 11 alignment bug
    @include media-query('large') {
      height: 100vh;
    }

    &::after {
      content: '';
      background: $bg_color;
      box-shadow: rem-calc(0 0 250 100) $bg_color;
      position: absolute;
      width: 50vw;
      height: 50vh;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      transform: translateY(-50%) translateX(-50%);
      z-index: 1;
    }
  }

  &__main-content {
    position: relative;
    z-index: 2;
    padding: ($space-large * 2) $h-unit $space-medium;

    @include media-query('medium') {
      padding: ($space-large * 2) $h-unit $space-large;
    }
  }

  &__founders-content,
  &__faq-content,
  &__header-content,
  &__main-content,
  &__support-content {
    @include responsive-wrapper($layout-wrapper-sizes);
    margin: 0 auto;
  }

  &__support {
    padding: $space-medium $h-unit;
    background-color: brand-color('primary');
  }

  &__faq {
    padding: $space-large $h-unit;
    background-color: neutral-color('lower');
  }

  &__founders {
    padding: 0 $h-unit $space-medium;
    background-color: neutral-color('lower');
  }
}
