+docs-section({
    title: 'Logo'
})

  +docs-block({
      open: true
  })

    .logo-grid

      .logo-grid__list

        .logo-grid__item-medium

          .logo-box.logo-box--vertical.logo-box--brand-text-color
            .logo-box__picture
              include ../../assets/images/logo/vertical.svg
            h6.logo-box__name Vertical

        .logo-grid__item-medium

          .logo-box.logo-box--compact.logo-box--brand-text-color
            .logo-box__picture
              include ../../assets/images/logo/compact.svg
            h6.logo-box__name Compact

        .logo-grid__item-medium

          .logo-box.logo-box--minimal
            .logo-box__picture
              include ../../assets/images/logo/pictogram-minimal.svg
            h6.logo-box__name Pictogram Minimal


        .logo-grid__item-medium

          .logo-box.logo-box--square.logo-box--brand-text-color
            .logo-box__picture
              include ../../assets/images/logo/pictogram-square.svg
            h6.logo-box__name Pictogram Square