extends _layout

//- include ./mixins/_docs-mixins.pug

block head_css
  link(
  href="css/docs.css"
  rel="stylesheet"
  type="text/css")

block page
  - var productName = 'fullStack<strong>Bulletin</strong>';

  h1 UI Components
  h3!=`Below is the UI components styleguide we created for ${productName} project — both for the benefit of the (web) developers and to ensure consistency across all brand pages and UI.`

  //- Logo
  #logo
    include _logo.pug

  //- Palettes
  #palettes
    include _palettes.pug

  //- Typography
  #typography
    include _typography.pug

  //- Icons
  #icons
    include _icons.pug

  //- Separator
  #separator
    include _separator.pug

  //- Separator
  #subscribe-form
    include _subscribe-form.pug

  //- Faq
  #faq
    include _faq.pug

  //- Footer
  #header
    include _header.pug

  //- Subscribe
  #subscribe
    include _subscribe.pug

  //- Footer
  #footer
    include _footer.pug

      