//--------------------
//- TYPOGRAPHY SECTION
//--------------------
+docsSection({
  title: 'Typography'})

  +docsBlock({
    title: 'Hierarchy of Type',
    description: 'Description here...',
    open: true})

    .headings-grid
      .headings-grid__list
        .headings-grid__item
          h1 Heading 1
        .headings-grid__item
          h2 Heading 2
        .headings-grid__item
          h3 Heading 3
        .headings-grid__item
          h4 Heading 4
        .headings-grid__item
          h5 Heading 5
        .headings-grid__item
          h6 Heading 6
        .headings-grid__item
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique tincidunt arcu id ornare. Nunc condimentum egestas nibh, et porta diam feugiat sit amet. Integer tincidunt cursus nunc, ac placerat orci volutpat sit amet. Mauris mattis nunc nec est tincidunt, et pretium quam bibendum.