// h1
%h1 {
  $font-size: ('xxsmall': 43, 'medium': 34, 'large': 48);
  @include responsive-typo($font-size);
  font-weight: 400;
  line-height: 1.1;
}

// h2
%h2 {
  $font-size: ('xxsmall': 34, 'medium': 30, 'large': 36);
  @include responsive-typo($font-size);
  font-weight: 400;
  line-height: 1.1;
}

// h3
%h3 {
  $font-size: ('xxsmall': 22, 'medium': 24, 'large': 24);
  @include responsive-typo($font-size);
  font-weight: 400;
  line-height: 1.2;
}

// h4
%h4 {
  $font-size: ('xxsmall': 19, 'medium': 20, 'large': 21);
  @include responsive-typo($font-size);
  font-weight: 600;
  line-height: 1.2;
}

// h5
%h5 {
  $font-size: ('xxsmall': 17, 'medium': 18, 'large': 16);
  @include responsive-typo($font-size);
  font-weight: 400;
  line-height: 1.5;
}

// h6
%h6 {
  $font-size: ('xxsmall': 16, 'medium': 16, 'large': 14);
  @include responsive-typo($font-size);
  font-weight: 400;
  line-height: 1.5;
}

// p
%p {
  $font-size: ('xxsmall': 16, 'medium': 16, 'large': 16);
  @include responsive-typo($font-size);
  font-weight: 400;
  line-height: 1.5;
}


%p-small {
  $font-size: ('xxsmall': 14, 'medium': 16, 'large': 22);
  @include responsive-typo($font-size);
  font-weight: 400;
  line-height: 1.3;
}
